@import url(http://fonts.googleapis.com/css?family=Jura);
body,html{
  height: 100%;
}
body{
  font-family:            'Jura', sans-serif;
  padding-top:            0;
  height:                 100%:
}
.title,
.bio{
  text-align:             center;
  font-size:              1.5em;
}
